.vs/SchemaCheckerMenu/v15/.suo
.vs/SchemaCheckerMenu/v15/Browse.VC.db
.vs/SchemaCheckerMenu/v15/ipch/AutoPCH/_SFI_6FF9205A-A3F8-45A9-8CA5-C36644029880_-d89219f1/WPAHELPER-55edb955/WPAHELPER.ipch
mssccprj.scc
packages/repositories.config
packages/UnmanagedExports.1.2.7/lib/net/RGiesecke.DllExport.Metadata.dll
packages/UnmanagedExports.1.2.7/lib/net/vssver.scc
packages/UnmanagedExports.1.2.7/tools/DllExportCmdLets.psm1
packages/UnmanagedExports.1.2.7/tools/init.ps1
packages/UnmanagedExports.1.2.7/tools/install.ps1
packages/UnmanagedExports.1.2.7/tools/Mono.Cecil.dll
packages/UnmanagedExports.1.2.7/tools/RGiesecke.DllExport.dll
packages/UnmanagedExports.1.2.7/tools/RGiesecke.DllExport.MSBuild.dll
packages/UnmanagedExports.1.2.7/tools/RGiesecke.DllExport.MSBuild.pdb
packages/UnmanagedExports.1.2.7/tools/RGiesecke.DllExport.pdb
packages/UnmanagedExports.1.2.7/tools/RGiesecke.DllExport.targets
packages/UnmanagedExports.1.2.7/tools/uninstall.ps1
packages/UnmanagedExports.1.2.7/tools/vssver.scc
packages/UnmanagedExports.1.2.7/UnmanagedExports.1.2.7.nupkg
packages/UnmanagedExports.1.2.7/UnmanagedExports.1.2.7.nuspec
packages/UnmanagedExports.1.2.7/vssver.scc
packages/vssver.scc
SchemaCheckerMenu.v11.suo
SchemaCheckerMenu/mssccprj.scc
SchemaCheckerMenu/obj/Debug/CoreCompileInputs.cache
SchemaCheckerMenu/obj/Debug/DesignTimeResolveAssemblyReferences.cache
SchemaCheckerMenu/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SchemaCheckerMenu/obj/Debug/SchemaCheckerMenu.csproj.FileListAbsolute.txt
SchemaCheckerMenu/obj/Debug/SchemaCheckerMenu.csproj.GenerateResource.Cache
SchemaCheckerMenu/obj/Debug/SchemaCheckerMenu.csprojResolveAssemblyReference.cache
SchemaCheckerMenu/obj/Debug/SchemaCheckerMenu.dll
SchemaCheckerMenu/obj/Debug/SchemaCheckerMenu.GetURLDlg.resources
SchemaCheckerMenu/obj/Debug/SchemaCheckerMenu.pdb
SchemaCheckerMenu/packages.config
SchemaCheckerMenu/Properties/vssver.scc
SchemaCheckerMenu/SchemaCheckerMenu.csproj.user
SchemaCheckerMenu/vssver.scc
vssver.scc
